@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.required:before{
    content:'*';
    font-size: 1.125rem;
    line-height: 1.75rem;
    color:red;
    padding-right:5px;
}
